{% extends 'base.html' %}

{% block content %}
    <div class="text-center h1 text-success">{{title}}</div>

    {% include '_nav.html' %}

    
    <div class="container">
        {% from "_formhelpers.html" import render_field %}
        <form method="post" enctype="multipart/form-data">
        <div>

          <dt>
            <label for="sel_e">Escola</label>
            </dt>
            <dd>
            <select name="escola" id="sel_e" class="form-control">
                {% for escola in escolas %}
                <option value="{{escola.escola_ID}}">{{escola.escola_nome}}</option>
                {% endfor %}
              </select>
            
            <a class="float-right btn btn-sm btn-outline-secondary"  href="{{url_for('add_escola', next = 'add_paciente')}}" role="button">Adicionar Escola</a>
            
            </dd>

            <dt>
              <label for="sel_c">Coordenador</label>
              </dt>
              <dd>
              <select name="coordenador" id="sel_c" class="form-control">
                  {% for coordenador in coordenadores %}
                  <option value="{{coordenador.coordenador_ID}}">{{coordenador.coordenador_nome}}</option>
                  {% endfor %}
                </select>
              <a class="float-right btn btn-sm btn-outline-secondary"  href="{{url_for('add_coordenador', next = 'add_paciente')}}" role="button">Adicionar Coordenador</a>
              </dd>


          <dt>
            <label for="sel_p">Psicopedagogo</label>
            </dt>
            <dd>
            <select name="psicopedagogo" id="sel_p" class="form-control">
                {% for psicopedagogo in psicopedagogos %}
                <option value="{{psicopedagogo.psicopedagogo_ID}}">{{psicopedagogo.pessoa.nome}}</option>
                {% endfor %}
              </select>
              <a class="float-right btn btn-sm btn-outline-secondary"  href="{{url_for('add_psicopedagogo', next = 'add_paciente')}}" role="button">Adicionar Psicopedagogo</a>
            </dd>
            <dt>
            <label for="sel_s">Situação</label>
            </dt>
            <dd>
            <select name="situacao" id="sel_s" class="form-control">
                {% for situacao in situacoes %}
                <option value="{{situacao.situacao_ID}}">{{situacao.nome}}</option>
                {% endfor %}
              </select>
              <a class="float-right btn btn-sm btn-outline-secondary"  href="{{url_for('add_situacao', next = 'add_paciente')}}" role="button">Adicionar Situação</a>
            </dd>
            <input type="hidden" name="next" value="{{ request.args.get('next', '')}}"/>
            {{ render_field(form.nome, class="form-control") }}
            {{ render_field(form.cpf, class="form-control") }}
            {{ render_field(form.rg, class="form-control") }}
            {{ render_field(form.data_de_nascimento, class="form-control") }}
            {{ render_field(form.serie_atual, class="form-control") }}
            {{ render_field(form.tel, class="form-control") }}
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.nome_r, class="form-control") }}
            {{ render_field(form.cpf_r, class="form-control") }}
            {{ render_field(form.rg_r, class="form-control") }}
            {{ render_field(form.tel_r, class="form-control") }}
            {{ render_field(form.email_r, class="form-control") }}
            {{ render_field(form.obs, class="form-control") }}



        </div>
    <p><input type=submit value=Registrar>
    </form>
    </div>
{% endblock content %}