{% extends 'base.html' %}

{% block content %}

<div class="text-center h1 text-primary">Histórico {{paciente.pessoa.nome}}</div>

{% include '_nav.html' %}


  <table class="table">
    <tbody>
        <tr>
            <td>Data e Hora</td>
            <td>Observações</td>
            <td></td>
        </tr>
        {% for atendimento in atendimentos %}
        <tr>
            <td>{{atendimento.data_hora}}</td>
            <td>{{atendimento.obs}}</td>
            <td><a class="btn float-right btn-outline-secondary" href="{{url_for('atendimento', ID = atendimento.atendimento_ID)}}">Visualizar</a></td>
        </tr>
        {% endfor %}

    </tbody>
  </table>

{% endblock content %}