{% extends 'base.html' %}

{% block content %}

<div class="text-center h1 text-primary">{{nome}}</div>

{% include '_nav.html' %} <!--  aqui e inserida a NavBar-->
<!--
<div class="col-2">
    <ul class="list-group">
        <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('add_psicopedagogo')}}" role="button">Adicionar Psicopedagogo</a></li>
        <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('add_paciente')}}" role="button">Adicionar Paciente</a></li>
        <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('add_psicopedagogo')}}" role="button">Adicionar Psicopedagogo</a></li>
        <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('add_psicopedagogo')}}" role="button">Adicionar Psicopedagogo</a></li>
        <li class="list-group-item"><a class="btn btn-primary" href="{{url_for('add_psicopedagogo')}}" role="button">Adicionar Psicopedagogo</a></li>
      </ul
</div>-->

{% endblock content %}