{% extends 'base.html' %}

{% block content %}

<div class="text-center h1 text-primary">{{nome}}</div>

{% include '_nav.html' %}

<table class="table">
  <tbody>
    {% for psicopedagogo in psicopedagogos %}
      <tr>
          <td><a class="btn btn-outline-secondary" href="{{url_for('psicopedagogo', ID=psicopedagogo.psicopedagogo_ID)}}" role="button">{{psicopedagogo.pessoa.nome}}</a></td>
          <td><a class="float-right btn btn-danger" href="{{url_for('apagar_psicopedagogo', ID=psicopedagogo.psicopedagogo_ID)}}" role="button">Apagar</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}