{% extends "base.html" %}


{% block content %}

<div class="text-center h1 text-success">Página de registro</div>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
    <div>
        {{ render_field(form.nome, class= "form-control") }}
        {{ render_field(form.nome_consultorio, class= "form-control") }}
        {{ render_field(form.email, class= "form-control") }}
        {{ render_field(form.senha, class= "form-control") }}
        {{ render_field(form.confirm, class= "form-control") }}

    </div>
  <p><input type=submit value=Registrar>
</form>
</div>

{% endblock content %}